{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sub-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/invite.css') }}">
    <meta http-equiv="refresh" content="0; url=https://discord.gg/{{ invite_id }}" />
{% endblock %}
{% block content %}
    {% include('element/sub-section.html') %}
    <div class="main-section">
        <span class="main-topic">
            <i class="fa-brands fa-discord"></i> 디스코드 서버로 이동 중입니다.
        </span>
        <span class="main-description">
            만약 이 창이 지속된다면,
            <a href="https://discord.gg/{{ invite_id }}">이곳</a>
            을 클릭해주세요.
        </span>
    </div>
{% endblock %}