<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="footer-item">
                <span class="footer-topic">PUBG BOT</span><br>
                © 2020-present 건유1019#0001 All right reserved.<br>
                <a href="{{ url_for('document.term') }}" class="footer-link">이용약관</a>
                <a href="{{ url_for('document.privacy') }}" class="footer-link">개인정보 처리방침</a><br>
                Designed By 건유1019#0001 <a href="mailto://gunyu1019@yhs.kr" class="footer-link">(gunyu1019@yhs.kr)</a><br>
                Powered By <a href="https://yhs.kr/" class="footer-link">Yweb</a>
            </div>
            <div class="footer-item">
                <span class="footer-topic">Official Link</span><br>
                <a href="https://yhs.kr/" class="footer-link footer-others">
                    <img src="{{ url_for('static', filename='image/footer/browser.svg') }}" class="footer-image" />Yweb
                </a>
                <a href="{{ url_for('invite.forum') }}" class="footer-link footer-others">
                    <img src="{{ url_for('static', filename='image/footer/discord.svg') }}" class="footer-image" />Developer Space [개발인들을 위한 공간]
                </a>
                <a href="https://github.com/gunyu1019/PUBG-BOT" class="footer-link footer-others">
                    <img src="{{ url_for('static', filename='image/footer/github.svg') }}" class="footer-image" />Source Code
                </a>
            </div>
            <div class="footer-item">
                <span class="footer-topic">Others Link</span><br>
                <a href="https://discord.gg/pubgkorea" class="footer-link footer-others">
                    <img src="{{ url_for('static', filename='image/footer/discord.svg') }}" class="footer-image" />PUBG: 배틀그라운드 (with 메디킷, 박격포)
                </a>
                <a href="https://discord.gg/hkdev" class="footer-link footer-others">
                    <img src="{{ url_for('static', filename='image/footer/discord.svg') }}" class="footer-image" />HKDev Korea
                </a>
                <a href="https://www.digitalocean.com/?refcode=eeb90c13dc57&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" class="footer-link footer-others">
                    <img src="{{ url_for('static', filename='image/footer/digitalocean.svg') }}" class="footer-image" />Hosted by Digital Ocean
                </a>
            </div>
        </div>
    </div>
</footer>