nav.navbar {
    height: 70px;
    padding: 0;
    background: #e99a00;
}

nav.navbar div.container {
    background: #e99a00;
    border-radius: 20px;
}

nav.navbar div.navbar-collapse {
    z-index: 1;
}

nav.nav-item div.container {
    height: 100%;
}

a.navbar-brand img {
    padding: 5px;
}

li.nav-item a.nav-link {
    align-items: center;
    color: white !important;
    display: flex;
    height: 70px;
    text-align: center;
    transition: .5s;
    width: 100%;
}

li.nav-item a.nav-link:hover {
    color: white;
    font-weight: bold;
}

@media (min-width: 1020px) {
    li.nav-item a.nav-link:hover {
        box-shadow: inset 0 -70px 0 0 #1f2124;
    }
}

@media (max-width: 1020px) {
    li.nav-item a.nav-link {
        border-radius: 20px;
        padding: 10px;
    }

    li.nav-item a.nav-link:hover {
        background: #e99a00;
    }

    nav.navbar div.navbar-collapse {
        margin: 10px 0;
    }
}